*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    max-width: 1440px;
} */

/*Nav*/

/* body::-webkit-scrollbar {
    width:0;
} */

.main-nav{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    z-index: 1440;
    position: sticky;
    top: 0;
    transition: .3s all ease;
    box-shadow:0 2px 10px 1px rgb(0 0 0 / 19%);
}

/*  */
.link-item {
    text-decoration: none;
    color: #000;
}
.nav-item {
    /* width: 100%; */
    text-align: start;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    border-bottom: 1px solid #D2D1D1;
    padding: 0 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.promo{
    color: #DE0039;
}
.nav-menu {
    list-style: none;
    display: flex;
    /* gap: 2rem; */
    flex-direction: column;
}
.nav-icon{
    display: none;
}
.nav-icon2 {
    order: 3;
    /* margin-top: 30px; */
}
.header {
    background-color: #fff;
    box-shadow: 1px 1px 5px 0px black;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1080;
    /* height: 80px; */
}
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #f4f4f4;;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
    margin-top: 79px;
}
.nav-logo{
    display: flex;
    justify-content: space-between;
    order: 1;
    height: 80px;
    align-items: center;
}
.nav-down{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.logo{
    padding: 20px;
    order: 2;
}
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line {
    background:#000;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}
.hamb-line::before,
.hamb-line::after
{
    background: #000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}
.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav {
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width:1000px) {
    /* .header{
        display: flex;
        justify-content: space-between;
    } */
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 40px;
        margin: 0;
    }
    .nav-menu {
        list-style: none;
        display: flex;
        gap: 2rem;
        flex-direction: row;
    }
    .nav-item{
        border-bottom: none;
        padding: 0;
    }
    .nav-icon{
        margin: 0;
        display: block;
    }
    .nav-icon2{
        display: none;
    }
    .nav-containt{
        order: 2;
    }
    .nav-down{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .logo{
        padding: 20px;
        order: 1;
    }
    .menu li {
        float: left;
    }
    .menu a:hover {
        background-color: transparent;
        color: #000;
    }
    .hamb {
        display: none;
    }
}

/*  */


.cont-logo{
    /* width: 100%; */
    display: flex;
    align-items: center;
}

.cont-list{
    display: flex;
    align-items: center;
    gap: 32px;
    max-width: fit-content;
    /* padding-right: 24px; 
    padding-left: 10px; */
}

.list{
    display: flex;
    /* align-items: center;
    align-self: stretch; */
    gap: 16px;
    list-style: none;
    text-transform: uppercase;
}

.modelos{
    display: grid;
    width: 124px;
    place-content: center;
    /* height: 100%; */
    grid-template-columns: repeat(1, 80% 10%);
}

.link-modelos{
    /* display: flex;
    align-items: center;
    gap: 8px;
    grid-column: 1/2; */
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
.icon-down{
    background-image: url(imagenes/ic_dropdown.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
    grid-column: 2/3;
}

.posventa{
    display: grid;
    width: 124px;
    place-content: center;
    /* height: 100%; */
    grid-template-columns: repeat(1, 80% 10%);
}
.link-pos{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.sucursales{
    width: 124px;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.usados{
    width: 124px;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.promociones{
    width: 124px;
    /* height: 100%; */
    color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.lupa{
    width: 50px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-lupa{
    width: 40px;
    height: 40px;
}

.li-icon{
    list-style: none;
}

/*section 1*/

/*banner*/

/*imagen*/

.section{
    display: block;
}

.main{
    width: 100%;
    /* height: 650px;  */
}

.degradado{
    background: linear-gradient(88deg, #000000 14.89%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.7;
    width: 66%;
    position: absolute;
    top: 6%;
    height: 606px;
}
.part-1 {
        /* height: 545px; */
    /* background: darkgray;*/
}

.con-img{
    position: relative;
}
.img{
    position: relative;
    width: 100%;
    /* height: 610px; */
    /*background-image: url(imagenes/img1.png);*/
}
.img-mobile{
    display: none;
}

/*texto*/
.cont-txt{
    position: absolute;
    top: 20%;
    left: 3%;
    width: 50%;
    max-width: 612px;
    /* height: 466px; */
    text-transform: uppercase;
}


.titulo{
    /* font-size: 64px; */
    font-size: 34px;
    /* font-weight: 700; */
    /* font-style: normal; */
    /* line-height: 60px;  */
    /* line-height: 30px; */
    margin-bottom: 15px;
    color: white;
    font-family: sans-serif;
}

.bold{
    font-size: 35px;
    line-height: 50px;
    font-family: sans-serif;
}

.barra{
    background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 8px;
    height: 1px;
    transform: translateX(-5px);
}

.txtpf{
    /* margin-top: 15px;
    margin-bottom: 15px; */
    margin: 15px 0;
    /* font-size: 21px; */
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    max-width: 466px;
    font-family: sans-serif;
}

.cont-btn{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
   /* width: 413px; */
    /* height: 138px; */
}

.btn-rojo{
    padding: 10px 0;
    background-color: #DE0039;
    color: white;
    text-decoration: none;
    /* font-weight: 400; */
    text-align: center;
    /* display: inline-block; */
    margin-bottom: 10px;
    width: 413px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.btn-blanco{
    padding: 10px 0;
    background-color: white;
    color: #DE0039;
    text-decoration: none;
    /* font-weight: 400; */
    text-align: center;
    /* display: inline-block;
    margin-bottom: 10px; */
    width: 413px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}


/*section 2*/

.part-2{
    display: block;
    margin-bottom: 30px;
}

.cars{
    width: 100%;
    /* height: 900px; */
   /* background-color: rgb(0, 225, 255);*/
}

.cont-titulo{
    display: block;
    margin: 48px auto 40px;
    width: 85%;
}

.titul{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 57px;
    font-style: normal;
    font-weight: 400;
    font-family: sans-serif;
}
.cont-car {
    overflow: hidden;
}

.marca-car{
    display: flex;
    gap: 84px;
   /* justify-content: center;*/
    margin: 0 auto;
    padding: 0 30px;
    width: fit-content;
    margin-bottom: 20px;
}

.dis-text{
  font-family: sans-serif; 
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  /* color: #000000; */
}

/* div.marca-car:hover button.boton{
    color: #DE0039;
} */

.boton{
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    width: max-content;
}

.boton.active{
    color: #DE0039;
}


.modelo-lista{
   display: flex;
   justify-content: center;
   gap: 15px; 
   overflow: hidden;
}

.lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 218px;
    height: 178px;
    opacity: 0.5;
}

.lista.active{
    opacity: 1;
}

.autos{
    margin-bottom: 20px;
}

.info-car{
     width: 100%;
   /* height: 563px; */
   /* background-color: blueviolet;*/
    display: flex;
    justify-content: center;
}

.info{
    width: 50%;
    max-width: 705px;
    /* height: 563px; */
    padding: 30px 103px 0px 88px; 
}

.car-modelo{
    position: relative;
    width: 100%;
}

.modelo-car{
    display: block;
    width: 100%;
    padding-top: 20px;
    position: absolute;
    top: 0;
    z-index: 3;
}
.img-fondo {
    z-index: 2;
    position: relative;
    display: block;
    width: 100%;
}

.car-precio{
    border-top: 1px solid;
    width: 100%;
}

.parf{
    font-size: 30px;
    line-height: 32px;
    margin: 28px 0 11px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

.precio{
    font-size: 46px;
    line-height: 54px;
    font-family: sans-serif;
    font-weight: bold;
}

.car-btn{
    margin-top: 32px;
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
}

.car-btn-1{
    width: 215px;
    height: 75px;
    background-color:#DE0039;
    color: white;
    padding: 20px 70px 20px 70px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.car-btn-2{
    width: 215px;
    height: 75px;
    background-color:#ffff;
    color: rgb(87, 83, 83);
    padding: 20px 70px 20px 70px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 20px;
}

.car-color{
    width: 100%;
    /* height: 100px;
    background-color: aqua;
   margin-top: 20px 0;*/
   
}

.car-color ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 10px;
}


.color1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin: 0 5px;
    background-color: #f4f0e9;
}

.color2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin: 0 5px;
    background-color: #e43823;
}

.color3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin: 0 5px;
    background-color: #cdcdd0;
}

.color4{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin: 0 5px;
    background-color: #000a00;
}

.color-txt{
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: 'RobotoRegular';
}


/*parte-3*/

.part-3{
   /* background-color: aqua;*/
    /* height: 500px; */
    margin: 48px auto 70px auto;
}

.caja-3{
    display: flex;
    justify-content:space-between;
    align-items:center;
    max-width:1211px;
    margin:0 auto;
}
.title-3{
    width:100%;
    /* height:25px; */
    text-align:center;
    margin-bottom:50px;
}

.titulo-3{
    text-transform:uppercase;
    font-size:46px;
    /* font-weight:400; */
    font-weight: bold;
    line-height:57px;
    text-align:center;
    font-family: sans-serif;
}

.box1{
    max-width:290px;
    width: 290px;
    /* height: 342px; */
    text-align:center;
}

.icon1{
    margin-bottom:27px;
}

.content {
    width: 270px;
    /* height: 233px; */
}

.title_icon{
    text-transform:uppercase;
    font-size:36px;
    /* font-weight:400; */
    font-weight: bold;
    line-height:32px;
    text-align:center;
    margin-bottom:16px;
    font-family: sans-serif;
}

.icon_paragraph{
    color: #000000;
    font-size:20px;
    font-weight:400;
    line-height:24px;
    text-align:center;
    margin-bottom:36px;
    font-family: sans-serif;
}

.icon_btn{
    text-transform:uppercase;
    font-size:20px;
    /* font-weight:400; */
    font-weight: bold;
    line-height:25px;
    text-align:center;
    text-decoration-line:underline;  
    color: #000000;
    font-family: sans-serif;
}

/*Section 4*/

.part-4{
    width:100%;
    /* height: 390px; */
    /* background-color:red; */
    /* display:block; */
}

.title-4{
    text-transform:uppercase;
    font-size:25px;
    text-align:center;
    color:#262626;
    font-family:sans-serif;
    line-height:30px;
}

.caja-4{
    display:flex;
    /* flex-wrap:wrap; */
    flex-direction: row;
    margin-top:2rem;
    padding-bottom:2rem;
    justify-content:center;
}

.img_box{
    margin:10px;
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    /* height: 400px; */
    overflow: hidden;
}

.img_1{
    width: 100%;
    height: 86%;
    overflow: hidden;
}

div.img_box:hover img.img_box_1{
    transform: scale(1.1);
   }

.img_box_1{
    transition: 0.3s;
    width:100%;
    filter:brightness(74%);
}

.text_img {
    position: relative;
    top: auto;
    bottom: 20%;
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
}

.link_4{
    text-decoration:none;
    outline:none;
    color: white;
}


.title-h3{
    text-transform:uppercase;
    /* text-align:center; */
    color:#ffffff;
   border-bottom:1px solid;
   position: relative;
   /* top: -160%; */
   font-size: 30px;
    transition: 300ms;
    min-width: 240px;
    margin: 0 auto;
    text-align:center;
    font-family: sans-serif;
}

.title-v1{
    text-transform:uppercase;
    text-align:center;
    color:#ffffff;
   /* border-bottom:1px solid; */
   position: relative;   
   right: 50%;
   top: 84%;
   transform: translateX(-50%);
}

/*Parte 5*/

.part-5{
    width: 100%;
    /* height: 800px; */
    /* background-color: #DE0039; */
    /* margin-top: 64px; */
    margin: 64px 0 60px 0;
}

.caja-5{
    margin: 0 auto;
}

.titulo-5{
    font-size:46px;
    text-transform:uppercase;
    line-height:60px;
    text-align:center;
    margin-bottom:10px;
    color:#000;
    font-family: sans-serif;
    font-weight: bold;
}

.txt-parraf{
    text-align:center;
    font-size:30px;
    line-height:25px;
    color:#262626;;
    margin-bottom:48px;
    font-family: sans-serif;  
}

.video{
    display:flex;
    justify-content:center;
     /*margin: 0 auto;*/
}

#parte5 iframe{
    width:1280px;
    height:600px;
   /* background:linear-gradient(180deg, #00000 19.33%, rgba(0, 0, 0, 100%));*/
    
}

/*Parte 6*/

.part-6{
    width: 100%;
    /* height: 720px; */
    /* background-color: #DE0039; */
    margin-top: 10px;
    margin-bottom: 60px;
    overflow: hidden;
}

.caja-6{
    padding: 0 15px;
}

.title-6{
    margin-bottom: 3rem;
}

.titulo-6{
   text-transform: uppercase;
   text-align:center;
   font-size:46px;
   line-height:54px; 
   color:#262626;
   font-family: sans-serif;
   font-weight: 700;
}

.txt-6{
    text-align:center;
    font-size: 29px;
    line-height:23px;
    color: #262626;
    margin-top:0.5rem;
    font-family: sans-serif;
 }

 .content-card{
    width:100%;
    /* background-color:azure; */
    /* height:600px; */
 }

 .box-card{
    margin:0 auto;
    position:relative;
    padding:0;
    /* overflow:hidden; */
    display: flex;
    /* gap: 10px; */
    justify-content: space-evenly;
 }

 .info-card{
    width: 420px;
    /* height: 467px; */
    box-shadow: 0px 1px 7px 2px rgb(0 0 0 / 5%);
    margin-right: 21px;
    /* background-color:gray; */
 }

.card-imagen{
   width:100%;
   overflow:hidden;
   /*position:relative;*/
}

.txt-card{
    /* margin:20px 30px 24px; */
    padding:16px;
    margin: 24px;
 }

 .card-txt{
    font-size:26px;
    line-height:32px;
    color:#262626;
    margin-bottom:15px;
    font-family: sans-serif;
 }

 .link-card{
    display: flex;
 }

 .btn-card{
    font-size:25px;
    line-height:25px;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
    color:#DE0039;
    font-weight: bold;
    font-family: sans-serif;
 }

 .arrow-img{
    margin-right:10px;
    width:16px;
    vertical-align: middle;
    height:20px;
    bottom:2px;
 }

 .box-btn{
    margin-top:60px;
    display:flex;
    justify-content:center;
    gap:36px;
 }

 .arrow-btn{
    width:25px;
    height:49px;
 }

 /*Footer*/

 /*Footer social*/
 .parte-7{
    /* width: 100%; */
    /* height: 510px; */
    background-color: #f6f6f6;
 }

 .foot-social {
    display: flex;
    justify-content: center;
}

.foot_link {
    width: 1100px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.link_foot {
    display: flex;
    /* flex-direction: row; */
    gap: 15px;
    margin-left: 300px;
    align-items: center;
    text-decoration: none;
    /* margin-top: 40px; */
    /* margin-bottom: 40px; */
    /* margin: 40px; */
}

.text-link{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    font-family: sans-serif;
}

.img-pin {
    width: 25px;
    height: 25px;
}

#parte7 img {
    width: 100%;
    display: block;
}

.foot-list{
    list-style: none;
    display:flex;
    gap: 10px;
    padding: 30px 0;
}

/* .link-item{
    width: 35px;
    height: 35px;
    display: block;
} */

.foot-item{
    border-radius:50%;
    border: 2px solid black;
    padding: 5px;
    vertical-align: middle;
    width: 35px;
    height: 35px;
 }

 /*Footer info*/

 .box-foot{
    width: 186px;
 }

 .foot-info{
    /* width: 1100px;   */
    /* height: 349px; */
    /* background: white; */
    /* margin: 0 auto; */
    display: flex;
    border-bottom: 1px solid #dfe2e7;
    padding: 0 20px;
    justify-content: center;
 }

 .title-suv{
    font-size: 18px;
    color: #7a7a7a;
    text-transform: uppercase;
    letter-spacing: .2px;
    font-family: sans-serif;
    margin-bottom: 25px;
 }

 .foot-li{
   margin: 14px 0;
   font-size: 13px;
   color: #666666;
   font-family: sans-serif;
   font-weight: bold;
 }

 .foot-suv{
    list-style: none;
 }

 /*Foot sup*/

 .foot-sup{
    padding:15px 0 24px;
    display:flex;
    justify-content: center;
    /* width: 1100px; */
    /* height: 35px; */
    /* margin: 0 auto; */
    /* background-color: white; */ 
    /* margin-bottom:20px; */
   }

.sup-1{
    margin-left:17px;
    width:541px;
}

.legal-sup{
    display: flex;
    list-style: none;
    gap: 5px;
}

.link-sup{
    font-size:10px;
    font-family:sans-serif;
    letter-spacing:0.8px;
    text-transform:uppercase;
    color:#555555;
    text-decoration:none;
}

.item-guion{
  padding-left:5px;
  padding-right:3px;
  font-size:14px;
  margin-top:2px;
}

.sup-2{
    width:541.7px;
    text-align:right;
    margin-top:5px;
}
   
.text-sup{
    font-size:10px;
    font-family:sans-serif;
    text-transform:uppercase;
    letter-spacing: 0.8px;
    color:#555555;
}

/*Menu side*/

.menu{
    position: fixed;
    right: 0;
    top: 22%;
    overflow: hidden;
    z-index: 1000;
    box-shadow:0px -1px 6px 1px rgba(0, 0, 0, 0.19);
    display: flex;
}

.menu-text{
    background-color: #BF0010;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition:opacity 1s ease-in-out, width 0.3s ease-in-out;
}

.text{
    transform: rotate(180deg); 
    writing-mode: vertical-lr;
    font-family: sans-serif;  
    font-weight: 600;     
    font-size: 10px;     
    line-height: 12px;     
    text-transform: uppercase;     
    color: #FFFFFF;
}

.menu-hiden{
    list-style: none;
    max-width: 0px;
    display: flex;
    flex-direction: column;
}

nav.menu:hover ul.menu-hiden {
    max-width: initial;
   /* transition: .5s all ease; */
}

nav.menu:hover div.menu-text{
    background-color:white;
     transition: .5s all ease; 
     width:0px;
}

.items{
    position: relative;
    width: 70px;
    height: 70px;
    background-color: white;
    display: grid;
    /* place-content: center; */
    text-align: center;
}

.link-hiden{
    text-transform: uppercase;    
    text-decoration: none;    
    font-size: 15px;    
    display: flex;    
    flex-direction: column;    
    align-items: center;    
    /* width: 100%; */    
    /* height: 100%; */    
    justify-content: center;
    align-items: center;    
    transition: 0.2s all ease;
    background-color: #ffffff;
}

.img-hiden{
    margin: 0 auto;
    max-width: 28px;
}

.text-hiden{
    font-size: 8px;
    font-style: normal;
    line-height: 10px;
    color: #333333;
    padding-top: 5px;
    max-width: 50px;
}

/*Globo*/

.globo{
    width: 100px;
    height: 100px;
    background-color: rgb(228, 100, 10);
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1080;
    border-radius: 50%;
    margin-right: 2%;
    margin-bottom:4%;
}

.btn-globo{
   background-color:transparent;
   border:none;
   margin-bottom:4%;
}

.num-globo{
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    background: #C60C3E;
    border-radius: 20px;
    color: white;
}

.img-globo{
    width: 100%;
}

.imagen-globo{
    width: 100px;
    height: 100px;
}

/* Media Query*/
@media(max-width:1440px){
    .cont-txt{
        position: absolute;
        top: 14%;
        left: 3%;
        width: 40%;
        max-width: 612px;
    }
}

@media(max-width:1280px){
    .cont-txt{
        position: absolute;
        top: 14%;
        left: 3%;
        width: 40%;
        max-width: 612px;
    }
   #parte5 iframe {
        width: 1000px;
        height: 500px;
    }
    .titulo {
        font-size: 30px;
    }
    .bold {
        font-size: 32px;
        line-height: 32px;
    }
    .card-txt {
        font-size: 19px;
        line-height: 23px;
    }
    .btn-card {
        font-size: 20px;
        line-height: 23px;
    }
}
   
@media(max-width:990px){
    .cont-txt{
        position: absolute;
        top: 14%;
        left: 3%;
        width: 40%;
        max-width: 612px;
    }
    .titulo {
        font-size: 30px;
    }
    .bold {
        font-size: 32px;
        line-height: 32px;
    }
    .btn-blanco, .btn-rojo{
        width: 100%;
    }
    /*Parte 2*/
    .marca-car {
        overflow: hidden;
    }
    .modelo-lista{
        /*display: flex; */
        justify-content: flex-start;
        /* flex-wrap: nowrap; */
    }
    .info-car {
        flex-direction: column-reverse;
        align-items: center;
        gap: 4rem;
    }
    .modelo-car {
        padding-top: 0;
        margin-top: 50px;
    }
    .detalle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        /* caja-6*/
    .info-card-4 {
        display: none;
    }  
    /* parte 5 */
    #parte5 iframe {
        width: 720px;
        height: 300px;
    }
    .txt-parraf {
        line-height: 24px;
        margin-bottom: 40px;
    }
    
    /*footer*/
    .caja-7 {
        padding-bottom: 80px;
    }
    .link_foot {
        margin-left: 300px;
    }
    .foot-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .foot-sup {
        flex-direction: column;
        align-items: center;
    }
    .sup-1, .sup-2 {
        width: auto;
    }

}

@media (max-width:870px) {
    .car-btn-1, .car-btn-2 {
        font-family: sans-serif;
        font-weight: 900;
    }
    .modelo-car {
        width: 100%;
        padding-top: 0;
        margin-top: 18px;
    }
    .detalle-info {
        border-bottom: 1px solid;
    }
    .car-precio {
        width: fit-content;
        display: flex;
        padding: 0 5%;
        padding-top: 14px;
        gap: 1rem;
        align-items: center;
    }
    .parf {
        font-size: 26px;
        margin: 0;

    }
    .precio {
        font-size: 45px;
        line-height: 54px;
    }
    .car-color {
            /* width: 0;*/
    }
    .box1 {
        display: flex;
        margin-bottom: 46px;
        padding-left: 0;
    }
    .caja-3 {
        flex-direction: column;
    }
    .icon_icon-1 {
        width: 48px;
        height: 48px;
    }
    .content {
        padding-left: 27px;
        text-align: left;
    }
    .title_icon {   
        font-size: 17px; 
        line-height: 20px;
        margin-bottom: 8px;
        text-align: left;
    }
    .icon_paragraph {      
        font-size: 16px;       
        line-height: 18px;
        text-align: left;
        margin-bottom: 18px;
        font-family: sans-serif;
    }
    .icon_btn{
        font-size: 15px;
        line-height: 20px;
    }
    .titulo-5 {
        font-size: 35px;
        line-height: 40px;
    }
    .txt-parraf {
        font-size: 20px;
    }
}
   
@media (max-width:865px){
    .cont-txt{
        position: absolute;
        top: 14%;
        left: 3%;
        width: 41%;
        max-width: 315px;
    } 
    .titulo {
        font-size: 30px;
        margin-bottom: 0;
    }
    .bold {
        font-size: 30px;
    }
}

@media(max-width:768px){
    .cont-txt{
        position: absolute;
        top: 16%;
        left: 3%;
        width: 41%;
        max-width: 315px;
    } 
    .titulo {
        font-size: 23px;
        margin-bottom: 0;
    }
    .bold {
        font-size: 25px;
        line-height: 16px;
    }
    .txtpf {
        margin: 10px 0;
        font-size: 15px;
        line-height: 10px;
    }
    .btn-blanco, .btn-rojo {
        height: 35px;
        font-size: 13px;
        width: 250px;
    }
    .titul {
        font-size: 34px;
        line-height: 40px;
    }
    .caja-3 {
        flex-direction: column;
    }
    .caja-4 {
    /* display: flex; */
    flex-wrap: wrap;
    padding-bottom: 0;
    }
    .title-4 {
        font-size: 30px;
    }
    .text_img {
        bottom: 11%;
    }
    .part-5 {
        margin: 0 0 60px 0;
    }
    .titulo-5 {
        font-size: 34px;
        line-height: 35px;
    }
    .txt-parraf {
        line-height: 26px;
        font-size: 22px;
    }
    .title-6 {
        margin-bottom: 2rem;
    }
    .titulo-6 {
        font-size: 36px;
        line-height: 30px;
    }
    .txt-6 {
        font-size: 22px;
        line-height: 15px;
    }
    .box-btn {
        margin-top: 40px;
    }
    .btn-card {
        font-size: 18px;
        line-height: 15px;
    }
    .txt-card {
        padding: 0;
    }
    .card-txt {
        font-size: 19px;
        line-height: 23px;
    }
    .btn-card {
        font-size: 20px;
        line-height: 23px;
    }
    .link_foot {
        margin-left: 100px;
    }
    .foot-info {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .foot_link {
        justify-content: flex-start;
    }
    .menu {
        display: none;
    }
}
@media (max-width:622px) {
    .titulo {
        font-size: 16px;
    }
    .bold {
        font-size: 17px;
        line-height: 16px;
    }
    .card-txt {
        font-size: 16px;
        line-height: 18px;
    }
    .btn-card {
        font-size: 17px;
        line-height: 23px;
    }
}

@media (max-width:591px) {
    .txtpf {
        font-size: 14px;
    }
    .link_foot {
        margin-left: 0px;
    }
    .foot-info {
        grid-template-columns: 1fr 1fr;
    }
    .card-txt {
        font-size: 14px;
        line-height: 16px;
    }
    .btn-card {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (max-width:520px) {
    .txtpf {
        font-size: 10px;
    }
    .btn-blanco, .btn-rojo {
        height: 28px;
        font-size: 11px;
        width: 150px;
    }
    .card-txt {
        font-size: 12px;
        line-height: 14px;
    }
    .btn-card {
        font-size: 12px;
        line-height: 18px;
    }
    .arrow-img {
        margin-right: 5px;
        height: 16px;
    }
}

@media (max-width:448px) {
    .titulo {
        font-size: 16px;
    }
    .bold {
        font-size: 17px;
        line-height: 16px;
    }
    .txt-card {
        margin: 18px;
    }
    .card-txt {
        font-size: 11px;
        line-height: 13px;
    }
    .btn-card {
        font-size: 11px;
        line-height: 18px;
    }
}

@media (max-width:426px) {
    .part-1 {
        height: 545px;
        background: darkgray;
    }
    .img {
        display: none;
    }
    .img-mobile {
        display: block;
        width: 100%;
        height: 100%;
    }
    .degradado-lateral {
        background: linear-gradient(180deg, rgb(0,0,0,0) 8%, rgb(0,0,0,1) 88.89%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 1px;
        opacity: 1;
    }
    .cont-txt{
        /* position: absolute; */
        top: 77%;
        left: 0;
        width: 100%;
        max-width: 426px;
    } 
    .cont-btn {
        flex-direction: row;
    }
    .titulo {
        font-size: 21px;
        margin-bottom: 5px;
        margin-left: 30px;
    }
    .bold {
        font-size: 23px;
        line-height: 10px;
    }
    .barra {
        margin-left: 30px;
    }
    .txtpf {
        font-size: 15px;
        margin: 14px 0 22px;
        margin-left: 30px;
    }
    .btn-blanco,.btn-rojo  {
        font-size: 15px;
        height: 45px;
        width: 100%;
        font-weight: bold;
        border: 1px #DE0039 solid;
    }
    .titul {
        font-size: 20px;
        line-height: 21px;
        font-weight: 800;
    }
    .info {
        width: 100%;
        max-width: 705px;
    }
    .detalle {
        /* width: 100%; */
        margin-top: 20px;
    }
    .detalle-info {
        width: 48%;
        min-width: 174px;
        padding-bottom: 9px;
    }
    .img-info {
        width: 100%;
    }
    .car-precio {
        border-top: 1px solid;
        width: 100%;
        max-width: 218px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .car-color ul {
        justify-content: center;
    }
    .color-txt {
        text-align: center;
    }
    .car-btn {
        margin-top: 18px;
        margin-bottom: 0;
    }
    .car-btn-1, .car-btn-2 {
        width: 132px;
        height: 48px;
        font-size: 15px;
        font-family: sans-serif;
    }
    .parf {
        font-size: 15px;
        line-height: 23px;
        margin: 15px 0 11px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: bold;
    }
    .precio {
        font-size: 20px;
        line-height: 54px;
        font-family: sans-serif;
        font-weight: bold;
    }
    .title-3 {
        margin-bottom: 30px;
    }
    .titulo-3 {
        font-size: 24px;
        line-height: 30px;
        padding: 0 24px;
    }
    .box1 {
        display: flex;
        margin-bottom: 46px;
        padding-left: 0;
    }
    .icon_icon-1 {
        width: 48px;
        height: 48px
    }
    .content {
        padding-left: 27px;
        /* height: 233px; */
        text-align: left;
    }
    .title_icon {
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        margin-bottom: 8px;
    }
    .icon_paragraph {
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        margin-bottom: 16px;
    }
    .icon_btn {
        font-size: 14px;
        line-height: 17px;
    }
    .box4 {
        margin-bottom: 0;
    }
    .part-3 {
        margin-bottom: 48px;
    }
    .title-4 {
        font-size: 20px;
        margin-bottom: -2rem;
    }
    .text_img {
        bottom: 16%;
        max-width: 200px;
    }
    .title-h3 {
        font-size: 20px;
        min-width: 0;
    }
    .titulo-5 {
        font-size: 28px;
        line-height: 32px;
    }
    #parte5 iframe {
        width: 320px;
        height: 140px;
    }
    .titulo-6 {
        font-size: 18px;
        line-height: 21px;
        max-width: 272px;
        margin: 0 auto;
    }
    .txt-6 {
        font-size: 14px;
        line-height: 16px;
        max-width: 229px;
        margin: 0 auto;
        margin-bottom: 8px;
    }
    .box-card {
        justify-content: normal;
    }
    .caja-6 {
        padding: 0;
        padding-left: 15px;
    }
    .info-card-3 {
        display:none;
    }
    .txt-parraf {
        line-height: 18px;
        font-size: 18px;
    }
    .foot_link {
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .foot-list {
        padding: 10px 0;
    }
}

/* @media (max-width:375px) {
    .cont-txt{
        position: absolute;
        top: 9%;
        left: 3%;
        width: 41%;
        max-width: 315px;
    } 
    .titulo {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .bold {
        font-size: 12px;
        line-height: 10px;
    }
    .txtpf {
        font-size: 1px;
        margin: 0;
    }
    .btn-blanco {
        font-size: 10px;
        height: 29px;
    }
    .btn-rojo {
        font-size: 10px;
        height: 29px;
    }
} */